/*INICIO CARD DA ATIVIDADE*/

.tit-at{
    text-align: center;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

.atividades{
    background-color: black;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: space-around;

}

.card {
    max-width: 300px;
    margin-top: 1.2rem;
    margin-bottom: 1.9rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
  }
  .image img{
    width: 100%;
    border-radius: 10px;
    height: 150px;
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }

  @media (max-width:600px){
    .atividades{
        background-color: black;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    
    }
    
  }
  
/*FIM CARD DA ATIVIDADE*/

/*INICIO DA PAGINA DE ATIVIDADE*/
.atividades-page{
    background-color: black;
}

.card2 {
    width: 600px;
    height: 600px;
    overflow: auto;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   .card__content{
    padding: 1.9rem;
   }
   .card__content p{
    margin-top: 2.5rem;
   }
   @media(max-width:600px){
    .card2 {
        width: 300px;
        height: 300px;
        
       }
   }
   
/*FIM DA PAGINA DE ATIVIDADE*/
/*INICIO DA ARÉA DE COMENTARIOS*/

.comentario-page{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
}
.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
}
.form-container {
    width: 700px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,white, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 95%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 95%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  @media(max-width:600px){
    .form-container {
        width: 300px;
       
      }
  }
  
  
  


/*FIM  DA ARÉA DE COMENTARIOS*/
