@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
   height: 100%;
}

/*Menu lateral*/
 .menu-lateral{
    z-index: 1000;
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 white;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .8s;
}
.menu-lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir >i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul .item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;

}
ul .item-menu{
    transition: .8s;
}
ul li.ativo{
    background-color: #9c9c9c;
}
ul .item-menu:hover{
    background-color: rgba(0, 0, 0, 0.466);
    
}

ul .item-menu .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}
.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}
ul .item-menu a .icon i{
    font-size: 24px;
   
}
/*main*/

main{
    background-color: black;
    height: 100%;
    width: 100%;
    margin-left: 4rem;
    color: white;
    display: flex;
    flex-direction: column;

}
main h1{
    text-align: center;
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;
   
}
.atalhos{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.atalhos a .atalhos-especias span{
    text-align: center;
    color: red;
    font-size: 7px;
    padding-right:.5rem ;
}
.atalhos a .atalhos-especias{
    text-align: center;
    width: 100px;
    text-decoration: none;
    color:white ;
    margin: 1.9rem;
    background-color: #202020;
    border-radius: 10px;

}
.atalhos a .atalhos-especias:hover{
    color: black;
    background-color: white;
    border-bottom: 1px solid red;
}
.cursos{
   
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
}
.cursos .box{
    margin-top: 1.9rem;
    border-radius: 10px;
    border: 1px solid white;
    width: 250px;
    height: 100%;
    box-shadow: 1px 1px white;
}
.cursos .box .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}
.cursos .box .imagem img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0  ;
}
.cursos .box .descricao{
    margin: 10px;
    padding: 1rem;
    font-family: "Anton SC", sans-serif;

}
.cursos .box .descricao .titulo-h4{
    color: yellow;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.2rem;
}
.cursos .box .descricao-curso{
    width: 100%;
    text-align: justify;
}

.cursos .box .btn{
    font-family: "Anton SC", sans-serif;
   width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 10px 8px;
    border: none;
    background-color: greenyellow;
    transition: .6s;
    cursor: pointer;
}
.cursos .box .btn:hover{
    background-color: yellowgreen;
    font-weight: 400;

}

@media(max-width:1000px){
    .cursos{
        display:grid;
        grid-template-columns: repeat(2 , 1fr);
    }  
}

@media(max-width:600px){
    main{
        background-color: black;
        height: 100%;
        width: 89%;
        margin-left: 3.7rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  
    main h1{
        text-align: center;
        border-bottom: 1px solid white;
        width: 300px;
        height: 100%;
       
    }  
    .cursos{
        display:grid;
        grid-template-columns: repeat(1 , 1fr);
        
    }
}



/*main*/
/*index*/
.index2{
   
    height: 100%;
    width: 95%;
    margin-left: 4rem;
    color: white;
    display: flex;
    flex-direction: column;

}
.msg{
    text-align: center;
    font-size: 4rem;
    padding-bottom: 7rem;
}
/*planos*/
.planos{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.pack-container {
    position: relative;
    display: flex;
    max-width: 250px;
    flex-direction: column;
    border-radius: 12px;
    background-color: #212121;
    border: 1px solid #fff;
    padding: 1.6rem;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .title {
    display: block;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list span svg {
    height: 12px;
    width: 12px;
  }
  
  .list p {
    display: block;
    font-family: sans-serif;
  }
  
  .button-container {
    margin-top: 20px;
    padding: 0;
  }
  
  .button-container button {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    outline: 0;
    border: 0;
    border-radius: 10px;
    transition: .4s;
  }
  .button-container button:hover{
    background-color: #202020;
    color: white;

  }
  @media(max-width:600px){
    .index2{
   
        height: 100%;
        width: 95%;
        margin-left: 1.5rem;
        color: white;
        display: flex;
        flex-direction: column;
    
    }
    
    .planos{
        display: grid;
       grid-template-columns: repeat(1,1fr);
        padding: .9rem;
    }
  }
  
/*planos*/
/*beneficios*/
.beneficios{
   width: 100%;
   height: 100%;
}
.beneficios h1{
    text-align: center;
    width: 100%;
}
.beneficios-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.beneficios-box .bene-box1{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid  white;
    background-color: white;
    border-radius: 20px;
    transition: 1s;
}
.beneficios-box .bene-box1:hover{
    background-color: #cccbcb;
}
.beneficios-box .bene-box1 .icone-bene1{
    padding: 1.9rem;
    font-size: 25px;
    border-radius: 50%;
    margin-bottom: 4rem;
    margin-top: .9rem;
    color: white;
    background-color: black;
    transition: 1s;
}
.beneficios-box .bene-box1 .icone-bene1:hover{
    background-color: white;
    color: black;
    font-weight: 700;
    transform: scale(0.9);
    
}
.beneficios-box .bene-box1 span{
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: .9rem;

}

@media(max-width:600px){
    .beneficios-box{
      display: grid;
      grid-template-columns: repeat(1,1fr);
        
    }
  }

/*beneficios*/

/*index*/

/* ATIVIDADES*/
.atividade{
    width: 95%;
    height: 100%;
    margin-left: 4rem;
   

}
.atividade h3{
    text-align: center;
    margin-top: 1.2rem;
}
.principais{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-at1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.322);
    margin: 1.2rem;
}
.box-at1 .img-at1{
    width: 300px;
    height: 100%;

}
.box-at1 .img-at1 img{
    width: 100%;

}
.box-at1 .sobre-at1 h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}
.box-at1 .sobre-at1 .descricao-at1{
    text-align: justify;
    width: 190px;
}
.box-at1 .at-button{
    padding: 1rem;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: none;
    width: 100%;
    transition: 1s;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
}
.box-at1 .at-button:hover{
    background-color: transparent;
    color: white;
    transform: scale(1.0);
}
.assuntos-at1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: .9rem;
}
@media (max-width:600px){
    .atividade{
        width: 95%;
        height: 100%;
        margin-left: 1.5rem;
       
    
    }
    
    .principais{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .assuntos-at1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: .9rem;
    }
}