@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: black;

}

/*TELA DE LOGIN*/
.nome-da-empresa{
    color: white;
    font-size: 2.9rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    border: 1px solid black;
 }
.login{

 color: white;
    display: flex;
    

}
.login-itens{
   width: 50%;
   height: 114vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.login-itens .email{
    display: flex;
    flex-direction: column;
   
    width: 250px;
   

}
.login-itens .email label{
    margin-left: 15px;
}
.login-itens .email input{
    height: 25px;
   outline: none;
    background-color: white;
    font-family: "Anton SC", sans-serif;
    padding-left: .3rem;
    border-radius: 10px;

}
.login-itens .password{
    display: flex;
    flex-direction: column;
  margin-top: 1rem;
    width: 250px;
}
.login-itens .password label{
    margin-left: 15px;
}
.login-itens .password input{
    height: 25px;
    outline: none;
    padding-left: .3rem;
    font-family: "Anton SC", sans-serif;
    background-color: white;
    border-radius: 10px;
}
.criar a{
    text-decoration: none;
    color: white;
}
.criar a:hover{
    border-bottom: 1px solid white;
    transform: scale(2,0.5);
    font-weight: 300;
}
.login .imagem{
    width: 50%;
    height: 98vh;

}



